<h1 style='text-align: center;'>All Customers</h1>
<% @customers.reverse.each do |c| %>
  <h2>Customer Name: <%= link_to c.name, customer_path(c) %></h2>
  <p>Customer ID: <%= c.id %></p>
  <hr>
<% end %>
