<% if logged_in_as_customer? || logged_in_as_worker? %>

<h1 style='text-align: center; margin-top: 70px; font-size: 40px;'><u>All Workers</u></h1>
<% @workers.reverse.each do |w| %>
  <h3>Worker Name: <%= link_to w.name, worker_path(w) %></h3>
  <p>Worker Availability: <%= w.availability %></p>
  <p>Worker ID: <b><%= w.id %></b></p>
  <hr>
<% end %>



<% else %>
  <div style='text-align: center'>You do not have access to the information on this page.</div>
<% end %>
